{% extends 'context/base.html' %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block title %}
    Delete Facility
{% endblock %}

{% block head %}
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
{% endblock %}

{% block body %}
    <h2>Apakah anda yakin akan menghapus ini</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="submit" class="btn btn-danger"/>
        {% csrf_token %}
        {{ form | crispy }}
    </form>
{% endblock %}