{% extends 'context/base.html' %} 

{% block title %}
    Home
{% endblock %} 
{% block head %}
    <style>
        #peta {
            height :500px;
        }
    </style>
{% endblock %} 
{% block body %}
    <h1>Testing Inheritance HTML</h1>
    <a href="{% url 'facility_form_add' %}" class="btn btn-primary">Add Fasilitas</a>
    <div id="peta">Tampilan Peta</div>
    <script>
        const peta = L.map('peta').setView([11.608274122747922,165.37697796900906], 11);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(peta);
      fetch('{% url "home_api" %}')
        //.then(x=> console.log(x.text))
        .then(response => response.json())
        .then(function(json){
            console.log(json)
            L.geoJSON(json, {
                onEachFeature: function(feature, Layer) {
                    console.log(feature.properties)
                    // Layer.bindPopup(feature.properties.name)
                    Layer.bindPopup(
                        `
                            <h5>${feature.properties.name}</h5>
                            <ul>
                                <li>${feature.properties.price}</li>
                                <li>${feature.properties.price_unit}</li>
                            </ul>
                        `
                    )
                }
            }).addTo(peta)
        })
        // .then(json => console.log(json))
    </script>
{% endblock %}
