<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- Right Side -->
    <div>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="/media/base/spongebob-logo.png" alt="Main Logo" width="90" height="50">
      </a>
    </div>
    <!-- Center Side -->
    <div>
      <a href="" class="btn">Booking Facility</a>
      <a href="{% url 'facility_list' %}" class="btn">Propose/Manage Facility</a>
      <a href="" class="btn">Public Infrastructure</a>
      <a href="" class="btn">About</a>
    </div>
    <!-- Left Side -->
    <div>
      {{request.user}}
    </div>

  </div>
</nav>